<mat-card class="chat-card">
  <div class="messages">
    @for (msg of chatService.messages(); track msg.id) {
      <div class="message" [ngClass]="msg.role">
        @if (msg.role === 'bot') {
          <markdown [data]="msg.content"></markdown>
        } @else {
          {{ msg.content }}
        }
      </div>
    }
  </div>


  <div class="input-area">
    <mat-form-field appearance="outline" class="input">
      <input
        matInput
        placeholder="Type a message..."
        [(ngModel)]="message"
        (keyup.enter)="send()"
        (keydown)="handleKey($event)"
      />
    </mat-form-field>

    @if (chatService.loading()) {
      <div class="loader">
        <mat-progress-spinner diameter="40" mode="indeterminate" color="primary">
        </mat-progress-spinner>
      </div>
    } @else {
      <button mat-fab color="primary" (click)="send()" [disabled]="this.message.trim().length < 1">
        <mat-icon>send</mat-icon>
      </button>
    }
  </div>
</mat-card>
